In [6]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

In [7]:
data = pd.read_csv('zomato.csv')

In [8]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-07-23,116.000000,138.899994,115.000000,126.000000,126.000000,694895290
1,2021-07-26,126.349998,143.750000,125.300003,140.649994,140.649994,249723854
2,2021-07-27,141.699997,147.800003,127.750000,132.899994,132.899994,240341900
3,2021-07-28,131.000000,135.000000,123.550003,131.199997,131.199997,159793731
4,2021-07-29,134.949997,144.000000,132.199997,141.550003,141.550003,117973089

In [12]:
data = data.drop('Adj Close', axis = 1)

In [13]:
data['Date'] = np.arange(start=0, stop=len(data), step=1)

In [14]:
data.head()

   Date        Open        High         Low       Close     Volume
0     0  116.000000  138.899994  115.000000  126.000000  694895290
1     1  126.349998  143.750000  125.300003  140.649994  249723854
2     2  141.699997  147.800003  127.750000  132.899994  240341900
3     3  131.000000  135.000000  123.550003  131.199997  159793731
4     4  134.949997  144.000000  132.199997  141.550003  117973089

In [16]:
y = data.Close
x = data.drop('Close', axis = 1)

In [19]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [23]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [24]:
model.predict(x_test)

array([ 62.54853295, 135.25336861,  98.12801609,  53.78953697,
        85.46242824, 141.15824503,  78.09690871,  82.41278241,
        50.753804  ,  55.52831731,  80.50221838, 124.63892949,
       136.20298358, 156.43270352, 146.09206098,  60.2138525 ,
        62.02216851, 141.88909499, 125.78093961, 119.08680869,
        64.64140655,  78.17919315,  58.30427895,  78.5859364 ,
       134.19809757, 101.71830131, 138.90944047,  60.20131808,
        80.45070765, 111.93024121,  65.13005005, 115.84535474,
       121.96776191,  55.89157256,  63.94779889,  78.52912993,
        67.63660574,  59.68199668,  78.53120579,  92.80555143,
       107.06926219, 137.33714504,  98.06104913,  63.03618353,
        84.33011136,  80.79781042,  94.24554864,  62.71650169,
        99.62708322,  58.35748364,  63.68255539,  81.89894686,
        86.0418689 , 119.21196334,  53.90380236,  50.74349316,
        92.81265997, 134.45202036, 155.17073633,  57.13363004,
        65.98783536,  66.49676393,  61.36092949, 154.12582215,
        50.85827098,  61.04765573, 131.96314475, 134.42957777,
        59.24907878,  58.06895378, 138.10599587,  64.03139212,
       102.51436753,  81.01023388, 107.60958322, 141.67011685,
       128.87616306,  64.45405143,  79.79166179, 127.02203981,
        91.78443907,  59.22259849,  51.238373  ,  51.7896383 ,
        78.75735485,  71.89012189,  49.9151431 ,  57.19716857,
       135.02232121,  67.84392473,  92.28881887,  61.2806313 ,
        65.32311204,  63.29229108,  61.04962691,  53.51699588,
       136.25386507,  80.89294043,  59.60754671,  66.72055426,
       123.62968031, 138.4360617 ,  98.09854274, 143.70549038,
        68.01910873,  62.38636138,  83.89897459,  67.00429781,
       136.47185951,  53.96933793, 130.25693185,  63.43568232,
        59.64649446, 127.74489138,  67.8026674 ,  63.87139441,
        80.29524566,  98.04686802,  57.9577105 ,  83.68236865,
        69.42262928,  50.07055436,  76.52439577,  75.94310162,
        76.53253065, 136.86553455,  66.3437562 ])

In [25]:
y_test

446     62.599998
57     135.000000
526     98.199997
406     53.849998
500     86.800003
          ...
161     75.949997
472     75.849998
188     75.849998
61     138.149994
302     65.550003
Name: Close, Length: 127, dtype: float64